body{
    margin: 0px;
    background-image: url(../img/pattern.jpg);
}
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}
ul{
    list-style: none;
}
li{
    margin: 3px;
    display: inline;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
}
article{
    border-bottom: 1px solid black;
    margin: 20px;
}
section{
    margin: 80px 150px 30px;
    background-color: white;
    padding: 20px;
}
footer{
    background-color: black;
    padding: 5px;
    color: white;
    text-align: center;
    margin: 0px;
}